$primary-color: rgb(50, 210, 125);
$gradient-primary-color: rgb(26, 75, 43);
$gradient-secondary-color: rgb(7, 51, 76);
$secondary-color: rgb(15, 187, 222);
$bg-color: #111923;
$title-color: rgb(235, 235, 235);
$win-color: rgb(67, 249, 108);
$lose-color: rgb(249, 67, 67);
$draw-color: rgb(249, 194, 67);
